<template>
  <Layout>
    <Article>   
      <h1 class="title">About</h1>
      <g-image class="left" src="~/assets/anne-2.jpg" width="360"/>
      <div v-html="$page.content.content"></div>
      <div class="resume">
        <span>Anne's Resume<a target="_blank" href="/2021-CV-ASutton.pdf"><span class="download-button">Download</span></a></span>
      </div>
    </Article>
  </Layout>
</template>


<page-query>
query Content {
    content: content(id: "about") {
      content
    }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'About'
  }
}
</script>

<style scoped>

  .resume {
    font-size: 1.2em;
    color: #4B3B40;
    font-weight: 700;
  }

  .download-button {
    margin: 1em;
    background-color: #32373c;
    font-weight: initial;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-family: serif;
    font-size: 0.8em;
  }

  a:hover .download-button {
    opacity: 0.75;
  }

</style>