<template>
  <Layout>
    <Article> 
        <h1 class="title">Contact</h1>
        <g-image class="left" src="~/assets/anne-5.jpg" width="360"/>
        <div v-html="$page.content.content"></div>
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/annepsutton/"><div class="img-wrapper"><g-image src="~/assets/social/insta.png" /></div></a>
          <a target="_blank" href="https://www.youtube.com/user/danneceparty"><div class="img-wrapper"><g-image src="~/assets/social/you.png" /></div></a>
        </div>
        <div class="contact"> 
          <a href="mailto:annesuttonsoprano@gmail.com"><p class="send-mail">Send email</p></a>
        </div>
    </Article>
  </Layout>
</template>

<page-query>
query Content {
    content: content(id: "contact") {
      content
    }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Contact'
  }
}
</script>

<style scoped>

  .contact{
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .send-mail {
    padding: 0.5em 1em;
    border-radius: 2em;
    background-color: #32373c;
    font-weight: initial;
    color: #ffffff;
    display: inline-block
  }

  a:hover .send-mail {
    opacity: 0.75;
  }

  .img-wrapper img{
    width: 100%;
    filter: invert(78%);
    -webkit-filter: invert(78%);
  }

  .img-wrapper {
    width: 3em;
    margin: 0 0.5em 0 0;
    display: inline-block
  }

  a:hover .img-wrapper img{
    filter: invert(55%);
    -webkit-filter: invert(55%);
  }

</style>