<template>
  <Layout>
    <Article> 
        <h1 class="title">Directing</h1> 
        <g-image class="left" src="~/assets/anne-1.jpg" width="360"/>  
        <div v-html="$page.content.content"></div>
        <div class="resume">
          <span>Anne's Director Resume<a target="_blank" href="/ASutton-Directing-CV-2021.pdf"><span class="download-button">Download</span></a></span>
        </div>
    </Article>
  </Layout>
</template>

<page-query>
query Content {
    content: content(id: "directing") {
      content
    }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Directing'
  }
}
</script>

<style scoped>

 .resume {
    font-size: 1.2em;
    color: #4B3B40;
    font-weight: 700;
  }

  .download-button {
    margin: 1em;
    background-color: #32373c;
    font-weight: initial;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-family: serif;
    font-size: 0.8em;
  }

  a:hover .download-button {
    opacity: 0.75;
  }

</style>