<template>
  <Layout>
    <Article>   
      <h1 class="title">Gallery</h1> 
      <div class="gallery">
        <g-image src="~/assets/gallery/g-1.jpg"/>
        <g-image src="~/assets/gallery/g-2.jpg"/>
        <g-image src="~/assets/gallery/g-3.jpg"/>
        <g-image src="~/assets/gallery/g-4.jpg"/>
        <g-image src="~/assets/gallery/g-5.jpg"/>
        <g-image src="~/assets/gallery/g-6.jpg"/>
        <g-image src="~/assets/gallery/g-7.jpg"/>
        <g-image src="~/assets/gallery/g-8.jpg"/>
        <g-image src="~/assets/gallery/g-9.jpg"/>
        <g-image src="~/assets/gallery/g-10.jpg"/>
        <g-image src="~/assets/gallery/g-11.jpg"/>
        <g-image src="~/assets/gallery/g-12.jpg"/>
        <g-image src="~/assets/gallery/g-13.jpg"/>
        <g-image src="~/assets/gallery/g-14.jpg"/>
      </div>
    </Article>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Gallery'
  }
}
</script>

<style scoped>

.gallery {
  text-align: center;
  padding: 2em;
}

.gallery img{
  width: 17em;
  display: inline-block;
  margin: 0 1em 1em 1em;
  vertical-align: middle;
}

</style>
