<template>
  <Layout>
    <div class="banner"></div>
    <div class="showcase">
      <div class="video">
        <iframe width=100% height=100% src="https://www.youtube.com/embed/SdK2-bV0Cjs" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </Layout>
</template>

<script>

export default {
  metaInfo: {
    title: 'Home'
  }
}
</script>


<style scoped>

img{
  width: 100%;
  height:100%;
  display: block;
  position: fixed;

}

.banner{
  display: block;
  background-image: url("../assets/banner-2.jpg");
  background-position: center center;
  width: 100%;
  height: 75vh;
  background-size: cover;
}

.showcase{
  display: block;
  /*background-image: url("../assets/sheet-music.jpg");*/
  background-size: cover;
  text-align: center;
  padding: 6em 0;
}

.video{
  display: inline-block;
  width: 640px;
  height: 360px;
  max-width: 100%;
}

.video iframe{
  box-shadow: var(--boxShadow);
  border: var(--borderSize) solid rgba(var(--borderColor,0,0,0),var(--alpha-borderColor,1));
}

</style>
