<template>
  <Layout>
    <Article>   
      <h1 class="title">Media</h1>
      <div class="showcase">
        <div class="video">
          <iframe width=100% height=100% src="https://www.youtube.com/embed/SdK2-bV0Cjs" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video">
          <iframe width=100% height=100% src="https://www.youtube.com/embed/6hVkhvqpszM" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video">
          <iframe width=100% height=100% src="https://www.youtube.com/embed/kuegumQZhos" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </Article>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Media'
  }
}
</script>

<style scoped>

.showcase{
  padding: 2em 0;
  text-align: center;
}


.video{
  display: inline-block;
  width: 640px;
  height: 360px;
  max-width: 100%;
  margin: 0 0 2em 0;
}

.video iframe{
  box-shadow: var(--boxShadow);
  border: var(--borderSize) solid rgba(var(--borderColor,0,0,0),var(--alpha-borderColor,1));
}

</style>
