<template>
  <Layout>
    <Article>   
      <h1 class="title">Schedule</h1> 
      <div v-html="$page.content.content"></div>
    </Article>
  </Layout>
</template>

<page-query>
query Content {
    content: content(id: "schedule") {
      content
    }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Schedule'
  }
}
</script>