<template>
    <div class="content">
        <slot/>
    </div>
</template>


<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.title {
  text-align: center;
  font-size: 2em;
}

.content{
  max-width: 980px;
  margin: 0 auto;
  padding: 2em 2em 4em 2em;
}

.content h1{
  font-family: Arial;
}

.content p{
  font-family: Arial;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 1em 0 1em 0;
}

img.left {
  float: left;
  margin: 1em 2em 1em 0em;
}

a {
  color: #435C73;
}

a:hover, a:focus {
  color: #3A7CA5;
}

</style>