<template>
    <footer>
        <section class="top">
            <p>London, UK</p><span class="circle">●</span>
            <p><a href="mailto:annesuttonsoprano@gmail.com">annesuttonsoprano@gmail.com</a></p>
        </section>
        <div class="bottom-wrapper">
            <section class="bottom">
                <div class="brand"><g-image src="~/assets/logo.png" width="77" /></div>
                <div><h1>Anne Sutton Soprano</h1></div>
                <div class="social">
                    <a target="_blank" href="https://www.instagram.com/annepsutton/"><div class="img-wrapper"><g-image src="~/assets/social/insta.png" /></div></a>
                    <a target="_blank" href="https://www.youtube.com/user/danneceparty"><div class="img-wrapper"><g-image src="~/assets/social/you.png" /></div></a>
                </div>
                 <div>
                    <p><span class="credit">Website design by: <a href="mailto:devsword7@gmail.com">William Sutton</a></span></p>
                </div>
            </section>
        </div>
    </footer>
</template>

<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

section{
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    font-family: 'Nunito Sans', sans-serif;
}

.top p {
    display: inline-block;
    margin: 0.3em 2em;
}

.circle {
    font-size: 0.6em;
}

.social img{
    width: 100%;
}

.social .img-wrapper{
    display: inline-block;
    width: 4em;
    margin: 0 0.5em;
}

.social a:hover, .social a:focus {
    opacity: 0.8;
}

.social {
    line-height: 0;
    margin: 0.5em 0 0.2em 0;
}

.top {
    background-color: #435C73;
    color: #ffffff;
}

.bottom {
    padding: 2em;
    background-color: #474C5A;
    color: #ffffff;
}

.brand img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

h1 {
    font-weight: 700;
    font-size: 2.7em;
    font-family: 'Tangerine', cursive;
    margin: 0em;
}

.credit{
    font-size: 0.95em;
}

 a {
    color: #C8C6D7;
    text-decoration: none;;
  }

  a:hover, a:focus{
    color:#ffffff;
    cursor: pointer;
  }

</style>
