<template>
  <header>
    <section class="header">
      <g-link to="/">
        <div class="brand">
            <span>Anne Sutton, Soprano</span>
        </div>
      </g-link>
      <nav class="small-nav">
        <div id="nav-button" class="nav-button" v-on:click="toggleNav">☰</div>
        <div id="expand-nav" class="expand-nav-closed">
          <g-link class="nav__link" to="/"><span>Home</span></g-link>
          <g-link class="nav__link" to="/about/"><span>About</span></g-link>
          <g-link class="nav__link" to="/schedule/"><span>Schedule</span></g-link>
          <g-link class="nav__link" to="/gallery/"><span>Gallery</span></g-link>
          <g-link class="nav__link" to="/media/"><span>Media</span></g-link>
          <g-link class="nav__link" to="/directing/"><span>Directing</span></g-link>
          <g-link class="nav__link" to="/contact/"><span>Contact</span></g-link>
        </div>
      </nav>
      <nav class="nav">
          <g-link class="nav__link" to="/"><span>Home</span></g-link>
          <g-link class="nav__link" to="/about/"><span>About</span></g-link>
          <g-link class="nav__link" to="/schedule/"><span>Schedule</span></g-link>
          <g-link class="nav__link" to="/gallery/"><span>Gallery</span></g-link>
          <g-link class="nav__link" to="/media/"><span>Media</span></g-link>
          <g-link class="nav__link" to="/directing/"><span>Directing</span></g-link>
          <g-link class="nav__link" to="/contact/"><span>Contact</span></g-link>
      </nav>
    </section>
  </header>
</template>

<script>
export default {
  methods: {
    toggleNav: function (event) {
      var topnav = document.getElementById("expand-nav");
    	if (topnav.className === "expand-nav-closed") {
      	topnav.className = "expand-nav";
    	} else {
        	topnav.className = "expand-nav-closed";
    	}
    }
  }
}

</script>


<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

header {
    background-color: #4b3b40;
    /* background-image: url("../assets/brown.png");*/
    background-size: cover;
    background-size: 110%;
    background-position-y: -36px;
    color: #ffffff;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}

.nav a {
    color: #eeeeee;
    font-weight: 900;
}

.nav a:hover span, .nav a:focus span, .nav__link.active--exact.active span {
    background-color: rgba(255,255,255,0.2);
}

header > section{
  margin: 0 auto;
  padding: 0 1em;
}

.brand span{
    color: #ffffff;
    font-weight: 900;
    margin: 1em;
    font-size: 2.7em;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 6em;
  margin: 0 auto;
}

.nav__link span {
  padding: 0.4em 0.7em;
  margin: 0.3em;
}

.small-nav, .expand-nav-closed{
  display: none;
}

.nav-button {
  font-size: 1.6em;
  font-weight: 700;
  cursor: pointer;
}

.expand-nav{
  position: absolute;
  top: 5em;
  background: #49444D;
  left: 0;
  width: 100%;
}

.expand-nav a{
  display: block;
  line-height: 3em;
}

.expand-nav .nav__link.active--exact.active{
  text-decoration: none;
}

.expand-nav a:hover, .expand-nav a:focus{
  text-decoration: none;
  background-color: #3A7CA5;
  color: #272427;
}

.small-nav {
  z-index: 2;
}

@media screen and (max-width: 1300px) {

  .nav{
    display: none;
  }

  .small-nav{
    display: inline-block;
  }

}

@media screen and (max-width: 555px) {

  .brand span{
    font-size: 2em;
}

}

</style>