<template>
  <div>
    <Header/>
    <div class="container">
      <div class="main">
        <slot/>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>

import Header from '~/components/Header.vue';
import Footer from '~/components/Footer.vue';

export default {
  components: {
    Header,
    Footer
  }
}
</script>


<style>

  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

  html{
    margin:0;
    padding:0;
  }

  a {
    color: #C8C6D7;
    text-decoration: none;;
  }

  a:hover, a:focus{
    color:#ffffff;
    cursor: pointer;
  }

  body {
    font-family: 'Public Sans', sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
    background-color: #ffffff;
  }

</style>